@charset "UTF-8";
.wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

body {
  background: #c0d6dc;
  overflow-x: hidden;
  color: #002939;
}

.p-0 {
  padding: 0;
}

.text-fill {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px;
}

.header {
  padding-top: 19px;
  position: relative;
}

.header-img__bg {
  position: absolute;
  top: 0px;
  right: 290px;
}

.header-wrap {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 117%;
  letter-spacing: 0.04em;
  margin-right: 42px;
}

.header__nav-item {
  margin-right: 42px;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav-link {
  color: #002939;
  text-decoration: none !important;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header__nav-link:hover {
  color: #fff;
}

.header__request-btn {
  width: 158px;
  height: 47px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #002939;
  border: 0;
  background: -webkit-linear-gradient(358.14deg, #dc4a8c 0.68%, #f77125 91.47%);
  background: -o-linear-gradient(358.14deg, #dc4a8c 0.68%, #f77125 91.47%);
  background: linear-gradient(91.86deg, #dc4a8c 0.68%, #f77125 91.47%);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header__request-btn:hover {
  color: #ffffff;
}

.logo__wrap {
  margin-right: auto;
}

.logo__link {
  text-decoration: none !important;
}

.logo__text {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 0.015em;
  margin-top: -17px;
  color: #002939;
  display: block;
}

.offer {
  padding-top: 115px;
  position: relative;
}

.offer-bg {
  width: 722px;
  height: 722px;
  position: absolute;
  right: 126px;
  top: -20px;
  z-index: -1;
  background: -webkit-radial-gradient(50% 50% at 50% 50%, #f77125 0%, rgba(196, 196, 196, 0) 100%);
  background: -o-radial-gradient(50% 50% at 50% 50%, #f77125 0%, rgba(196, 196, 196, 0) 100%);
  background: radial-gradient(50% 50% at 50% 50%, #f77125 0%, rgba(196, 196, 196, 0) 100%);
}

.offer-btn {
  width: 296px;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.offer-btn::before {
  content: "";
  width: 320px;
  height: 2px;
  position: absolute;
  background: -webkit-linear-gradient(358.14deg, #dc4a8c 0.68%, #f77125 91.47%);
  background: -o-linear-gradient(358.14deg, #dc4a8c 0.68%, #f77125 91.47%);
  background: linear-gradient(91.86deg, #dc4a8c 0.68%, #f77125 91.47%);
}

.offer-btn:hover svg path {
  stroke: #fff;
}

.offer-btn:hover p {
  color: #fff;
}

.offer-btn--result {
  margin-top: 98px;
}

.offer-btn--result::before {
  bottom: -20px;
  left: -24px;
}

.offer-btn--course {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 184px;
  margin-left: 150px;
}

.offer-btn--course::before {
  width: 420px;
  top: -20px;
  right: -24px;
}

.offer-btn__arrow path {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.offer-btn__arrow--result {
  margin-right: 30px;
}

.offer-btn__arrow--course {
  margin-left: 29px;
}

.offer-btn__text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Cy Grotesk", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 19px;
  line-height: 23px;
  letter-spacing: 0.04em;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.offer-btn__text span {
  display: block;
}

.offer-btn__text--course {
  text-align: right;
}

.offer-img {
  width: 545px;
  height: 409px;
  position: relative;
  z-index: -4;
}

.offer-img__wrap {
  position: relative;
}

.offer-img__wrap::before {
  content: "";
  position: absolute;
  width: 600px;
  height: 600px;
  z-index: -3;
  top: -216px;
  right: -263px;
  background: -webkit-radial-gradient(34.13% 30.65% at 50% 48.49%, #c0d6dc 0%, rgba(196, 196, 196, 0) 100%);
  background: -o-radial-gradient(34.13% 30.65% at 50% 48.49%, #c0d6dc 0%, rgba(196, 196, 196, 0) 100%);
  background: radial-gradient(34.13% 30.65% at 50% 48.49%, #c0d6dc 0%, rgba(196, 196, 196, 0) 100%);
}

.offer-socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer-socials__item {
  margin-right: 20px;
}

.offer-socials__item:last-child {
  margin-right: 0;
}

.offer-socials__img cirlce, .offer-socials__img path {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.offer-socials__link:hover svg circle {
  stroke: #F77125;
}

.offer-socials__link:hover svg path {
  stroke: #F77125;
}

.about-les {
  margin-top: 140px;
  background-image: url("../img/main/about-les/bg.png");
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  position: relative;
}

.about-les__bg {
  width: 600px;
  height: 600px;
  position: absolute;
  left: 60px;
  top: 20px;
  background: -webkit-radial-gradient(50% 50% at 50% 50%, rgba(247, 113, 37, 0.5) 0%, rgba(196, 196, 196, 0) 100%);
  background: -o-radial-gradient(50% 50% at 50% 50%, rgba(247, 113, 37, 0.5) 0%, rgba(196, 196, 196, 0) 100%);
  background: radial-gradient(50% 50% at 50% 50%, rgba(247, 113, 37, 0.5) 0%, rgba(196, 196, 196, 0) 100%);
}

.about-les__wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-les__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Cy Grotesk", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 48px;
  letter-spacing: 0.04em;
  color: #002939;
  margin-bottom: 140px;
}

.about-les__title span {
  margin-left: 162px;
}

.about-les__lists {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.about-les__list--left {
  margin-right: 40px;
}

.about-les__list--left .about-les__list-item:nth-child(1) {
  margin-bottom: 204px;
}

.about-les__list--right {
  margin-top: 100px;
}

.about-les__list--right .about-les__list-item {
  margin-bottom: 127px;
}

.about-les__list-title {
  font-style: normal;
  font-weight: 800;
  font-size: 19px;
  line-height: 23px;
  letter-spacing: 0.04em;
  color: #002939;
  position: relative;
}

.about-les__list-title::before {
  content: "";
  width: 380px;
  height: 2px;
  background-color: #dc4a8c;
  position: absolute;
  top: -10px;
  left: -24px;
}

.about-les__desc {
  width: 560px;
  margin-top: 30px;
}

.about-les__desc-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #002939;
  margin-bottom: 5px;
}

.about-les__desc-text {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #002939;
}

.about-les__desc-item {
  margin-bottom: 30px;
}

.about-les__desc-item:last-child {
  margin-bottom: 0;
}

.about-les__btn {
  width: 361px;
  height: 91px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-linear-gradient(358.14deg, #dc4a8c 1.63%, #f77125 91.47%);
  background: -o-linear-gradient(358.14deg, #dc4a8c 1.63%, #f77125 91.47%);
  background: linear-gradient(91.86deg, #dc4a8c 1.63%, #f77125 91.47%);
  font-family: "Cy Grotesk", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 19px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #002939;
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-top: -210px;
}

.about-les__btn svg path {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.about-les__btn-arrow {
  margin-right: 50px;
}

.about-les__btn:hover {
  color: #fff;
}

.about-les__btn:hover svg path {
  stroke: #fff;
}

.methods {
  padding-top: 250px;
  padding-bottom: 250px;
  background-image: url("../img/main/methods/bg.png");
  -webkit-background-size: 1000px 1400px;
          background-size: 1000px 1400px;
  background-position: 0 50px;
  background-repeat: no-repeat;
}

.methods__title {
  font-family: "Cy Grotesk", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 48px;
  letter-spacing: 0.04em;
  margin-bottom: 85px;
}

.methods__title--line {
  padding-left: 200px;
}

.methods__title--fill {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px;
}

.about {
  background-image: url("../img/main/about/bg.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-bottom: 122px;
}

.about__title {
  font-family: "Cy Grotesk", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 48px;
  letter-spacing: 0.04em;
  margin-bottom: 96px;
}

.about__subtitle {
  width: 360px;
  font-family: "Cy Grotesk", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 19px;
  line-height: 23px;
  letter-spacing: 0.04em;
  position: relative;
  padding-top: 10px;
  margin-bottom: 100px;
}

.about__subtitle::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #dc4a8c;
  left: -20px;
  top: 0;
}

.about-list {
  width: 560px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 117%;
  letter-spacing: 0.04em;
  margin-right: 102px;
}

.about-list__item {
  padding-top: 10px;
  margin-bottom: 10px;
  position: relative;
}

.about-list__item:last-child {
  margin-bottom: 0;
}

.about-list__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  width: 100%;
  height: 2px;
  background-color: #dc4a8c;
}

.about__img {
  width: 499px;
  height: 645px;
}

.about-wrap {
  margin-bottom: 100px;
}

.about__link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  font-family: "Cy Grotesk", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 19px;
  line-height: 23px;
  text-align: right;
  letter-spacing: 0.04em;
  color: #002939;
  text-decoration: none !important;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding-top: 13px;
}

.about__link-arrow {
  margin-left: 30px;
}

.about__link svg path {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.about__link:hover {
  color: #fff;
}

.about__link:hover svg path {
  stroke: #fff;
}

.about__link::before {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 380px;
  height: 2px;
  background-color: #dc4a8c;
}

.entry {
  background-image: url("../img/main/entry/bg.png");
  background-repeat: no-repeat;
  background-position: 220px 150px;
  padding-top: 104px;
}

.entry__title {
  font-family: "Cy Grotesk", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 48px;
  letter-spacing: 0.04em;
  margin-bottom: 100px;
}

.entry__title span {
  display: block;
  padding-left: 200px;
}

.entry-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.entry-list__item {
  width: 460px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(247, 113, 37, 0.01);
  border: 1px solid #ffffff;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  -webkit-border-radius: 0px 0px 30px 30px;
          border-radius: 0px 0px 30px 30px;
  position: relative;
  margin-right: 120px;
  position: relative;
  z-index: 1;
  padding-top: 113px;
}

.entry-list__item:last-child {
  margin-right: 0;
}

.entry-list__item:hover {
  background: -webkit-linear-gradient(332.79deg, rgba(247, 113, 37, 0.3) 16.17%, rgba(220, 74, 140, 0.3) 75.81%), rgba(247, 113, 37, 0.01);
  background: -o-linear-gradient(332.79deg, rgba(247, 113, 37, 0.3) 16.17%, rgba(220, 74, 140, 0.3) 75.81%), rgba(247, 113, 37, 0.01);
  background: linear-gradient(117.21deg, rgba(247, 113, 37, 0.3) 16.17%, rgba(220, 74, 140, 0.3) 75.81%), rgba(247, 113, 37, 0.01);
}

.entry-list__icon {
  z-index: 2;
}

.entry-list__icon-wrap {
  width: 125px;
  height: 125px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #fff;
  position: absolute;
  top: -60px;
  border: 1px solid #ffffff;
}

.entry-list__title {
  font-family: "Cy Grotesk", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 19px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.04em;
  margin-bottom: 50px;
}

.entry-list__list {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 101.5%;
  letter-spacing: 0.04em;
  margin-bottom: 100px;
}

.entry-list__list-item {
  margin-bottom: 30px;
}

.entry-list__list-item:last-child {
  margin-bottom: 0;
}

.entry-list__link {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 90px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
  background: -webkit-linear-gradient(358.14deg, #dc4a8c 1.63%, #f77125 91.47%);
  background: -o-linear-gradient(358.14deg, #dc4a8c 1.63%, #f77125 91.47%);
  background: linear-gradient(91.86deg, #dc4a8c 1.63%, #f77125 91.47%);
  -webkit-border-radius: 0px 0px 30px 30px;
          border-radius: 0px 0px 30px 30px;
  font-family: "Cy Grotesk", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 19px;
  line-height: 23px;
  text-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.04em;
  color: #002939;
  position: relative;
  text-decoration: none !important;
}

.entry-list__link-arrow {
  position: absolute;
  left: 30px;
}

.entry-list__link:hover {
  color: #002939;
}

.results {
  background-image: url("../img/main/results/bg.png");
  background-repeat: no-repeat;
  background-position: center 270px;
  padding-top: 166px;
  padding-bottom: 254px;
}

.results__title {
  font-family: "Cy Grotesk", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 48px;
  letter-spacing: 0.04em;
  margin-bottom: 210px;
}

.results__title span {
  padding-left: 200px;
}

/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
.slick-slide.slick-cloned {
  z-index: 1;
}

/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
/*Конкретный слайдер*/
.slider {
  max-width: 100%;
  position: relative;
  margin: 0 auto;
  z-index: 2;
}

.slider .slick-arrow {
  position: absolute;
  z-index: 10;
  font-size: 0;
  background: transparent;
  border: 0;
  outline: none;
}

/*Левая стрелочка*/
/*Если слайдер достигнет конца,то кнопка пропадает
*/
.slider .slick-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider .slick-dots li {
  list-style: none;
  margin: 0 10px;
}

/*Точки*/
.slider .slick-dots button {
  font-size: 0;
  width: 20px;
  height: 20px;
  background-color: #000;
  opacity: 0.5;
  border: 0;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  outline: none;
}

.slider .slick-dots li.slick-active button {
  background-color: transparent;
  background-color: #000;
  opacity: 1;
}

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
.slick-arrow {
  top: -100px;
  right: 140px;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
  width: 150px;
  height: 59px;
  background-image: url("../img/main/results/prev.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  font-size: 0;
  border: 0;
  margin-right: 110px;
}

/* Стрелка вправо */
.slick-arrow.slick-next {
  width: 150px;
  height: 59px;
  background-image: url("../img/main/results/next.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  font-size: 0;
  border: 0;
}

/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
.results-slider .slider__item {
  width: 860px;
  height: 475px;
  margin-right: 140px;
  -webkit-border-radius: 0px 50px;
          border-radius: 0px 50px;
}

.results-slider .slider__item .custom-video {
  width: 100%;
  height: 100%;
}

.benefit {
  background-image: url("../img/main/benefit/bg.png");
  background-repeat: no-repeat;
  background-position: center 0px;
  padding-bottom: 150px;
}

.benefit__title {
  font-family: "Cy Grotesk", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 48px;
  letter-spacing: 0.04em;
  margin-bottom: 100px;
}

.benefit__title span {
  display: block;
  padding-left: 200px;
}

.benefit-list {
  width: 1160px;
}

.benefit-list__item {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  padding-top: 30px;
  position: relative;
}

.benefit-list__item::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  top: 0;
  background: -webkit-linear-gradient(358.14deg, #dc4a8c 0.68%, #f77125 91.47%);
  background: -o-linear-gradient(358.14deg, #dc4a8c 0.68%, #f77125 91.47%);
  background: linear-gradient(91.86deg, #dc4a8c 0.68%, #f77125 91.47%);
}

.benefit-list__item:last-child {
  margin-bottom: 0;
}

.benefit-list__body {
  margin-right: auto;
}

.benefit-list__title {
  font-family: "Cy Grotesk", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 19px;
  line-height: 23px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.benefit-list__desc {
  width: 956px;
  max-height: 0;
  overflow: hidden;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 117%;
  letter-spacing: 0.04em;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.benefit-list__desc--active {
  max-height: 1000px;
}

.benefit-list__btn {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: transparent;
  border: 0;
}

.benefit-list__btn span {
  width: 100%;
  height: 4px;
  background: -webkit-linear-gradient(358.14deg, #dc4a8c 0.68%, #f77125 91.47%);
  background: -o-linear-gradient(358.14deg, #dc4a8c 0.68%, #f77125 91.47%);
  background: linear-gradient(91.86deg, #dc4a8c 0.68%, #f77125 91.47%);
  -webkit-border-radius: 20px;
          border-radius: 20px;
  position: relative;
}

.benefit-list__btn span::before {
  content: "";
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(358.14deg, #dc4a8c 0.68%, #f77125 91.47%);
  background: -o-linear-gradient(358.14deg, #dc4a8c 0.68%, #f77125 91.47%);
  background: linear-gradient(91.86deg, #dc4a8c 0.68%, #f77125 91.47%);
  -webkit-border-radius: 20px;
          border-radius: 20px;
  position: absolute;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  left: 0;
}

.benefit-list__btn--active span {
  background: #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.benefit-list__btn--active span::before {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  background: #fff;
}

.consult {
  padding-top: 100px;
  padding-bottom: 100px;
}

.consult-wrap {
  position: relative;
}

.consult__title {
  font-family: "Cy Grotesk", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 48px;
  letter-spacing: 0.04em;
  margin-bottom: 50px;
}

.consult__title span {
  display: block;
  padding-left: 200px;
  -webkit-text-stroke: 2px;
}

.consult__img-bg {
  width: 1116px;
  height: 1116px;
  background: -webkit-radial-gradient(50% 50% at 50% 50%, #9fd6de 0%, rgba(196, 196, 196, 0) 100%);
  background: -o-radial-gradient(50% 50% at 50% 50%, #9fd6de 0%, rgba(196, 196, 196, 0) 100%);
  background: radial-gradient(50% 50% at 50% 50%, #9fd6de 0%, rgba(196, 196, 196, 0) 100%);
  position: absolute;
  left: -400px;
  top: -220px;
  z-index: -1;
}

.consult-info {
  margin-top: 42px;
  margin-right: 42px;
}

.consult-info__text {
  width: 560px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 117%;
  letter-spacing: 0.04em;
  margin-bottom: 30px;
}

.consult-info__hour {
  font-family: "Cy Grotesk", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.04em;
  margin-bottom: 10px;
}

.consult-info__price {
  font-family: "Cy Grotesk", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.04em;
}

.consult-info__price:nth-child(1) {
  margin-right: 20px;
}

.consult-info__price--old {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px;
  position: relative;
}

.consult-info__price--old::before {
  content: "";
  width: 105%;
  height: 2px;
  top: 50%;
  position: absolute;
  background: -webkit-linear-gradient(358.14deg, #dc4a8c 0.68%, #f77125 91.47%);
  background: -o-linear-gradient(358.14deg, #dc4a8c 0.68%, #f77125 91.47%);
  background: linear-gradient(91.86deg, #dc4a8c 0.68%, #f77125 91.47%);
  -webkit-transform: rotate(-8deg);
      -ms-transform: rotate(-8deg);
          transform: rotate(-8deg);
}

.consult-info__price-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.consult-info__time-text {
  font-family: "Cy Grotesk", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.04em;
  margin-bottom: 10px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px;
}

.consult-info__time-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}

.consult-info__time-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 30px;
  margin-right: 30px;
  position: relative;
}

.consult-info__time-item:last-child {
  padding-right: 0;
  margin-right: 0;
}

.consult-info__time-item:last-child::before {
  display: none;
}

.consult-info__time-item::before {
  content: "";
  width: 2px;
  height: 100%;
  position: absolute;
  right: 0;
  background: -webkit-linear-gradient(358.14deg, #dc4a8c 0.68%, #f77125 91.47%);
  background: -o-linear-gradient(358.14deg, #dc4a8c 0.68%, #f77125 91.47%);
  background: linear-gradient(91.86deg, #dc4a8c 0.68%, #f77125 91.47%);
}

.consult-info__time-time {
  font-family: "Cy Grotesk", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.04em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px;
  margin-bottom: 5px;
}

.consult-info__time-date {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 117%;
  letter-spacing: 0.04em;
}

.consult-info__form-input {
  font-family: "Cy Grotesk", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 19px;
  line-height: 23px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding-bottom: 15px;
  border: 0;
  background-color: transparent;
  color: #e5e5e5;
  outline: none;
}

.consult-info__form-input::-webkit-input-placeholder {
  color: #e5e5e5;
}

.consult-info__form-input:-ms-input-placeholder {
  color: #e5e5e5;
}

.consult-info__form-input::-ms-input-placeholder {
  color: #e5e5e5;
}

.consult-info__form-input::placeholder {
  color: #e5e5e5;
}

.consult-info__form-input-label {
  position: relative;
  margin-bottom: 50px;
}

.consult-info__form-input-label:nth-child(2) {
  margin-bottom: 33px;
}

.consult-info__form-input-label:last-child {
  margin-bottom: 0;
}

.consult-info__form-input-label::before {
  content: "";
  width: 100%;
  height: 2px;
  background: -webkit-linear-gradient(358.14deg, #dc4a8c 0.68%, #f77125 91.47%);
  background: -o-linear-gradient(358.14deg, #dc4a8c 0.68%, #f77125 91.47%);
  background: linear-gradient(91.86deg, #dc4a8c 0.68%, #f77125 91.47%);
  position: absolute;
  bottom: 0;
}

.consult-info__form-checkbox {
  width: 34px;
  height: 34px;
  opacity: 0;
  margin-right: 16px;
}

.consult-info__form-checkbox + label::before {
  content: "";
  width: 34px;
  height: 34px;
  border: 2px solid #e5e5e5;
  position: absolute;
  left: -50px;
  top: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.consult-info__form-checkbox:checked + label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  -webkit-background-size: 25px 25px;
          background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
}

.consult-info__form-checkbox-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 50px;
}

.consult-info__form-label {
  height: 34px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 25px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #e5e5e5;
  position: relative;
  margin: 0;
  cursor: pointer;
}

.consult-info__form-label span {
  text-decoration: underline;
}

.consult-info__form-sub {
  width: 347px;
  height: 91px;
  background: -webkit-linear-gradient(358.14deg, #dc4a8c 1.63%, #f77125 91.47%);
  background: -o-linear-gradient(358.14deg, #dc4a8c 1.63%, #f77125 91.47%);
  background: linear-gradient(91.86deg, #dc4a8c 1.63%, #f77125 91.47%);
  border: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Cy Grotesk", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 19px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #002939;
  position: relative;
  padding: 0;
}

.consult-info__form-sub-arrow {
  position: absolute;
  left: 30px;
}

.custom-video {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 948px;
  height: 523px;
  -webkit-border-radius: 0px 50px;
          border-radius: 0px 50px;
}

.custom-video__preview {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.custom-video__btn {
  width: 151px;
  height: 151px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#f77125), to(#dc4a8c));
  background: -webkit-linear-gradient(top, #f77125 0%, #dc4a8c 100%);
  background: -o-linear-gradient(top, #f77125 0%, #dc4a8c 100%);
  background: linear-gradient(180deg, #f77125 0%, #dc4a8c 100%);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  border: 0;
}

.custom-video__btn-play {
  padding-left: 20px;
}

.custom-video__video {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 0px 50px;
          border-radius: 0px 50px;
  border: 0;
}
/*# sourceMappingURL=style.css.map */