// specifications
@import "./variables";
.wrap {
  display: flex;
}
body {
  background: #c0d6dc;
  overflow-x: hidden;
  color: $mainColor;
}
.p-0 {
  padding: 0;
}
.text-fill {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px;
}
// specifications
// main
@import "./components/header";
@import "./components/offer";
@import "./components/about-les";
@import "./components/methods";
@import "./components/_about";
@import "./components/entry";
@import "./components/_results";
@import "./slider_all";
@import "./components/results-slider";
@import "./components//benefit";
@import "./components/consult";
@import "./components/contacts";
@import "./components/footer";
// main
// dolly 
@import "./components/dolly";
@import "./components/dolly-more";
@import "./components/dolly-videos";
// dolly 
// other
@import "./components/custom-video";
@import "./components/cust-btn";
@import "./components/socials";
// other end
