
.article {
  margin-top: 200px;

  &__bg-first {
    width: 660px;
    height: 660px;
    position: absolute;
    right: 680px;
    top: -13px;
    z-index: -1;
    background: -webkit-radial-gradient(
      50% 50% at 50% 50%,
      #f77125 0%,
      rgba(196, 196, 196, 0) 100%
    );
    background: -o-radial-gradient(
      50% 50% at 50% 50%,
      #f77125 0%,
      rgba(196, 196, 196, 0) 100%
    );
    background: radial-gradient(
      50% 50% at 50% 50%,
      #f77125 0%,
      rgba(196, 196, 196, 0) 100%
    );
  }

  &__bg-second {
    width: 600px;
    height: 600px;
    position: absolute;
    left: -192px;
    top: 835px;
    background: -webkit-radial-gradient(
      50% 50% at 50% 50%,
      rgba(247, 113, 37, 0.5) 0%,
      rgba(196, 196, 196, 0) 100%
    );
    background: -o-radial-gradient(
      50% 50% at 50% 50%,
      rgba(247, 113, 37, 0.5) 0%,
      rgba(196, 196, 196, 0) 100%
    );
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(247, 113, 37, 0.5) 0%,
      rgba(196, 196, 196, 0) 100%
    );
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-family: $grotesk;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 48px;
    letter-spacing: 0.04em;
    margin-bottom: 50px;
    text-align: center;
    order: 1;
  }

  &__quote {
    width: 761px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 101.5%;
    letter-spacing: 0.04em;
    margin: 0 auto;
    margin-bottom: 100px;
    order: 2;
  }

  &__bg-img {
    order: 3;
  }

  &__img {
    width: 760px;
    height: 420px;
    margin: 0 auto;
    margin-bottom: 100px;
  }

  &__text {
    width: 960px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 117%;
    letter-spacing: 0.04em;
    margin: 0 auto;
    order: 4;
  }

  &__date {
    width: 380.02px;
    height: 29.25px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 117%;
    letter-spacing: 0.04em;
    margin-top: 100px;
    margin-bottom: 148.75px;
    border-top: 1px solid #dc4a8c;
    order: 5;
    padding-top: 10px;
    margin-left: 75px;
  }
}

@media screen and (min-width: 960px) and (max-width: 1199px) {
  .container {
    max-width: 960px;
    padding: 0 10px;
  }

  .article {
    &__bg-first {
      width: 660px;
      height: 660px;
      position: absolute;
      right: 613px;
      top: 33px;
    }

    &__date {
      margin-left: 0;
    }
  }
}

@media screen and (min-width: 640px) and (max-width: 959px) {
  .container {
    max-width: 640px;
    padding: 0 10px;
  }

  .article {
    margin-top: 123px;

    &__bg-first {
      width: 660px;
      height: 660px;
      position: absolute;
      right: 263px;
      top: 19px;
    }

    &__bg-second {
      width: 600px;
      height: 600px;
      position: absolute;
      left: -192px;
      top: 835px;
    }

    &__title {
      font-size: 30px;
      line-height: 100%;
      margin-bottom: 50px;
    }

    &__quote {
      width: 471px;
      font-size: 30px;
      line-height: 101.5%;
      margin: 0 auto;
      margin-bottom: 50px;
    }

    &__img {
      width: 495px;
      height: 274px;
    }

    &__text {
      width: 620px;
    }

    &__date {
      width: 380.02px;
      height: 29.25px;
      margin-top: 110.25px;
      margin-bottom: 118.75px;
      margin-left: 0;
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 639px) {
  .container {
    max-width: 480px;
    padding: 0 10px;
  }

  .article {
    margin-top: 100px;

    &__bg-first {
      display: none;
    }

    &__bg-second {
      display: none;
    }

    &__title {
      width: 379px;
      font-size: 30px;
      line-height: 100%;
      margin: 0 auto;
      text-align: left;
    }

    &__quote {
      width: 471px;
      font-size: 18px;
      line-height: 17px;
      margin: 0 auto;
      margin-bottom: 50px;
      order: 3;
    }

    &__bg-img {
      order: 2;
      position: relative;
      &:before {
        content: "";
        width: 461px;
        height: 328px;
        position: absolute;
        background: linear-gradient(
            89.24deg,
            #c0d6dc 0.59%,
            rgba(192, 214, 220, 0) 46.87%,
            #c0d6dc 99.34%
          ),
          linear-gradient(
            180deg,
            #c0d6dc 0%,
            rgba(192, 214, 220, 0.78) 21.12%,
            rgba(192, 214, 220, 0) 53.2%,
            rgba(192, 214, 220, 0.78) 81.86%,
            #c0d6dc 100%
          );
      }
    }

    &__img {
      width: 459px;
      height: 328px;
      margin: 0 auto;
    }

    &__text {
      width: 459px;
      font-size: 14px;
      line-height: 117%;
    }

    &__date {
      width: 140px;
      height: 21px;
      font-size: 14px;
      line-height: 117%;
      margin-top: 100px;
      margin-bottom: 100px;
      margin-left: 0;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .container {
    max-width: 320px;
    padding: 0 10px;
  }

  .article {
    margin-top: 100px;

    &__bg-first {
      display: none;
    }

    &__bg-second {
      display: none;
    }

    &__title {
      width: 298px;
      font-size: 30px;
      line-height: 100%;
      margin: 0 auto;
      text-align: left;
    }

    &__quote {
      width: 300px; 
      font-size: 18px;
      line-height: 17px;
      margin: 0 auto;
      margin-bottom: 30px;
      order: 3;
    }

    &__bg-img {
      order: 2;
      position: relative;
      &:before {
        content: "";
        width: 320px;
        height: 330px;
        position: absolute;
        background: linear-gradient(
            89.24deg,
            #c0d6dc 0.59%,
            rgba(192, 214, 220, 0) 46.87%,
            #c0d6dc 99.34%
          ),
          linear-gradient(
            180deg,
            #c0d6dc 0%,
            rgba(192, 214, 220, 0.78) 21.12%,
            rgba(192, 214, 220, 0) 53.2%,
            rgba(192, 214, 220, 0.78) 81.86%,
            #c0d6dc 100%
          );
      }
    }

    &__img {
      width: 320px;
      height: 328px;
      margin: 0 auto;
    }

    &__text {
      width: 300px;
      font-size: 14px;
      line-height: 117%;
    }

    &__date {
      width: 140px;
      height: 21px;
      font-size: 14px;
      line-height: 117%;
      margin-top: 50px;
      margin-bottom: 100px;
      margin-left: 0;
    }
  }
}
