@import "../variables";
.benefit {
  background-image: url('../img/main/benefit/bg.png');
  background-repeat: no-repeat;
  background-position: center 0px;
  padding-bottom: 150px;
  &__title {
    font-family: $grotesk;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 48px;
    letter-spacing: 0.04em;
    margin-bottom: 100px;
    span {
      display: block;
      padding-left: 200px;
    }
  }
  &-list {
    width: 1160px;
    &__item {
      width: 100%;
      display: flex;
      margin-bottom: 30px;
      padding-top: 30px;
      position: relative;
      &::before {
        content: "";
        width: 100%;
        height: 2px;
        position: absolute;
        top: 0;
        background: linear-gradient(91.86deg, #dc4a8c 0.68%, #f77125 91.47%);
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__body {
      margin-right: auto;
    }
    &__title {
      font-family: $grotesk;
      font-style: normal;
      font-weight: 800;
      font-size: 19px;
      line-height: 23px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      margin-bottom: 30px;
    }
    &__desc {
      width: 956px;
      max-height: 0;
      overflow: hidden;
      font-family: $ptSans;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 117%;
      letter-spacing: 0.04em;
      transition: all 0.4s ease;
      &--active {
        max-height: 1000px;
      }
    }
    &__btn {
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      background-color: transparent;
      border: 0;
      span {
        width: 100%;
        height: 4px;
        background: linear-gradient(91.86deg, #dc4a8c 0.68%, #f77125 91.47%);
        border-radius: 20px;
        position: relative;
        &::before {
          content: "";
          width: 100%;
          height: 100%;
          background: linear-gradient(91.86deg, #dc4a8c 0.68%, #f77125 91.47%);
          border-radius: 20px;
          position: absolute;
          transform: rotate(90deg);
          left: 0;
        }
      }
      &--active {
        span {
          background: #fff;
          transform: rotate(45deg);
          &::before {
            transform: rotate(90deg);
            background: #fff;
          }
        }
      }
    }
  }
}
