@import "../variables";
.contacts {
  padding-bottom: 100px;
  .container {
    padding-top: 100px;
    border-top: 1px solid #FFFFFF;
  }
  &__title {
    font-family: $grotesk;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 48px;
    letter-spacing: 0.04em;
    margin-bottom: 50px;
    color: $mainColor;
    &:hover {
      color: $mainColor;
    }
  }
  &__link {
    font-family: $grotesk;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 95.5%;
    letter-spacing: 0.04em;
    color: $mainColor;
    display: block;
    margin-bottom: 10px;
    &-wrap {
      
    }
    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      color: $mainColor;
    }
    
  }
  &-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    &__item {
      margin-right: 105px;
      &:last-child {
        margin-right: 0;
      }
    }
    &__link {
      font-family: $grotesk;
      font-style: normal;
      font-weight: 800;
      font-size: 19px;
      line-height: 95.5%;
      letter-spacing: 0.04em;
      text-decoration-line: underline;
      color: #e5e5e5;
      transition: all 0.4s ease;
      &:hover {
        color: #002939;
      }
    }
  }
}
