@import "../variables";
.lessons-info {
  padding-bottom: 120px;
  background-image: url("../img/lessons/info/bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  &__list {
    &--left {
      margin-right: 60px;
      .lessons-info__list-item {
        &:nth-child(1) {
          margin-bottom: 200px;
          &::before {
            width: 380px;
          }
        }
      }
    }
    &--right {
      margin-top: 75px;
      .lessons-info__list-item {
        &:nth-child(1) {
          margin-bottom: 100px;
        }
      }
    }
    &-item {
      width: fit-content;
      padding-top: 20px;
      position: relative;
      &:nth-child(2n + 2) {
        margin-left: auto;
      }
      &::before {
        content: "";
        width: 580px;
        height: 2px;
        position: absolute;
        top: 0;
        background-color: #f77125;
      }
    }
    &-title {
      width: 560px;
      font-family: $grotesk;
      font-style: normal;
      font-weight: 400;
      font-size: 19px;
      line-height: 23px;
      letter-spacing: 0.04em;
      margin-bottom: 20px;
    }
    &-text {
      width: 560px;
      font-family: $ptSans;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 117%;
      letter-spacing: 0.04em;
    }
  }
  &__btn {
    &-wrap {
      margin-top: -150px;
    }
  }
  &__count {
    font-family: $grotesk;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.04em;
    margin-bottom: 5px;
  }
  &__price {
    font-family: $grotesk;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.04em;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1199px) and (min-width: 992px) {
  .lessons-info {
    padding-bottom: 120px;
    background-image: url("../img/lessons/info/bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    &__list {
      &--left {
        margin-right: 110px;
        .lessons-info__list-item {
          &:nth-child(1) {
            margin-bottom: 200px;
            &::before {
              width: 380px;
            }
          }
        }
      }
      &--right {
        margin-top: 75px;
        .lessons-info__list-item {
          &:nth-child(1) {
            margin-bottom: 50px;
          }
        }
      }
      &-item {
        width: fit-content;
        padding-top: 20px;
        position: relative;
        &:nth-child(2n + 2) {
          margin-left: auto;
        }
        &::before {
          content: "";
          width: 460px;
          height: 2px;
          position: absolute;
          top: 0;
          background-color: #f77125;
        }
      }
      &-title {
        width: 380px;
        font-family: $grotesk;
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 23px;
        letter-spacing: 0.04em;
        margin-bottom: 20px;
      }
      &-text {
        width: 380px;
        font-family: $ptSans;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 117%;
        letter-spacing: 0.04em;
      }
    }
    &__btn {
      margin-top: 0 !important;
      &-wrap {
        margin-top: -150px;
      }
    }
    &__count {
      font-family: $grotesk;
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 36px;
      letter-spacing: 0.04em;
      margin-bottom: 5px;
    }
    &__price {
      font-family: $grotesk;
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 36px;
      letter-spacing: 0.04em;
      margin-bottom: 30px;
    }
  }
}
@media screen and (min-width: 640px) and (max-width: 991px) {
  .container {
    max-width: 640px;
    padding: 0 10px;
  }
  .lessons-info {
    padding-bottom: 120px;
    background-image: url("../img/lessons/info/bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    &__list {
      &--left {
        margin-right: 20px;
        .lessons-info__list-item {
          &:nth-child(1) {
            margin-bottom: 200px;
            &::before {
              width: 310px;
            }
          }
        }
      }
      &--right {
        margin-top: 95px;
        .lessons-info__list-item {
          &:nth-child(1) {
            margin-bottom: 50px;
          }
        }
      }
      &-item {
        width: fit-content;
        padding-top: 20px;
        position: relative;
        &:nth-child(2n + 2) {
          margin-left: auto;
        }
        &::before {
          content: "";
          width: 299px;
          height: 2px;
          position: absolute;
          top: 0;
          background-color: #f77125;
        }
      }
      &-title {
        width: 299px;
        font-family: $grotesk;
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 89%;
        letter-spacing: 0.04em;
        margin-bottom: 3 0px;
      }
      &-text {
        width: 298px;
        font-family: $ptSans;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 17px;
        letter-spacing: 0.04em;
      }
    }
    &__btn {
      width: 296px;
      height: 68px;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      margin-top: 0 !important;
      &-wrap {
        width: fit-content;
        margin-top: -150px;
      }
    }
    &__count {
      font-family: $grotesk;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.04em;
      margin-bottom: 5px;
      text-align: center;
    }
    &__price {
      font-family: $grotesk;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.04em;
      margin-bottom: 30px;
      text-align: center;
    }
  }
}
@media screen and (min-width: 480px) and (max-width: 639px) {
  .container {
    max-width: 480px;
    padding: 0 10px;
  }
  .lessons-info {
    padding-bottom: 120px;
    background-image: url("../img/lessons/info/bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    &__wrap {
      overflow: scroll;
      padding: 10px 0;
      margin-bottom: 90px;
    }
    &__list {
      &--left {
        margin-right: 60px;
        .lessons-info__list-item {
          &:nth-child(1) {
            margin-bottom: 200px;
            &::before {
              width: 310px;
            }
          }
        }
      }
      &--right {
        margin-top: 0px;
        .lessons-info__list-item {
          &:nth-child(1) {
            margin-bottom: 50px;
          }
        }
      }
      &-item {
        width: fit-content;
        padding-top: 20px;
        position: relative;
        &:nth-child(2n + 2) {
          margin-left: auto;
        }
        &::before {
          content: "";
          width: 299px;
          height: 2px;
          position: absolute;
          top: 0;
          background-color: #f77125;
        }
      }
      &-title {
        width: 299px;
        font-family: $grotesk;
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 89%;
        letter-spacing: 0.04em;
        margin-bottom: 3 0px;
      }
      &-text {
        width: 298px;
        font-family: $ptSans;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 17px;
        letter-spacing: 0.04em;
      }
    }
    &__btn {
      width: 296px;
      height: 68px;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      margin-top: 0 !important;
      &-wrap {
        width: fit-content;
        margin-top: 0px;
        margin: 0 auto;
      }
    }
    &__count {
      font-family: $grotesk;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.04em;
      margin-bottom: 5px;
      text-align: center;
    }
    &__price {
      font-family: $grotesk;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.04em;
      margin-bottom: 30px;
      text-align: center;
    }
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .container {
    max-width: 320px;
    padding: 0 10px;
  }
  .lessons-info {
    padding-bottom: 120px;
    background-image: url("../img/lessons/info/bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    &__wrap {
      overflow: scroll;
      padding: 10px 0;
      margin-bottom: 90px;
    }
    &__list {
      &--left {
        margin-right: 60px;
        .lessons-info__list-item {
          &:nth-child(1) {
            margin-bottom: 200px;
            &::before {
              width: 310px;
            }
          }
        }
      }
      &--right {
        margin-top: 0px;
        .lessons-info__list-item {
          &:nth-child(1) {
            margin-bottom: 50px;
          }
        }
      }
      &-item {
        width: fit-content;
        padding-top: 20px;
        position: relative;
        &:nth-child(2n + 2) {
          margin-left: auto;
        }
        &::before {
          content: "";
          width: 299px;
          height: 2px;
          position: absolute;
          top: 0;
          background-color: #f77125;
        }
      }
      &-title {
        width: 299px;
        font-family: $grotesk;
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 89%;
        letter-spacing: 0.04em;
        margin-bottom: 3 0px;
      }
      &-text {
        width: 298px;
        font-family: $ptSans;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 17px;
        letter-spacing: 0.04em;
      }
    }
    &__btn {
      width: 296px;
      height: 68px;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      margin-top: 0 !important;
      &-wrap {
        width: fit-content;
        margin-top: 0px;
        margin: 0 auto;
      }
    }
    &__count {
      font-family: $grotesk;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.04em;
      margin-bottom: 5px;
      text-align: center;
    }
    &__price {
      font-family: $grotesk;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.04em;
      margin-bottom: 30px;
      text-align: center;
    }
  }
}