.methods {
  padding-top: 250px;
  padding-bottom: 250px;
  background-image: url("../img/main/methods/bg.png");
  background-size: 1000px 1400px;
  background-position: 0 50px;
  background-repeat: no-repeat;
  &__title {
    font-family: $grotesk;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 48px;
    letter-spacing: 0.04em;
    margin-bottom: 85px;
    &--line {
      padding-left: 200px;
    }
    &--fill {
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 3px;
    }
  }
}
